<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="carregarCompras($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="compras.length > 0; else nenhumaCompra">
    <ion-card *ngFor="let compra of compras">
      <ion-card-header>
        <ion-card-title>{{ compra.nome }}</ion-card-title>
        <ion-chip color="primary" slot="end">{{ compra.categoria }}</ion-chip>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Data:</strong> {{ compra.dataDaCompra | date:'shortDate'}}</p>
        <p><strong>Valor:</strong> R$ {{ compra.valor | number:'1.2-2' }}</p>
        <p *ngIf="compra.observacao"><strong>Obs:</strong> {{ compra.observacao }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #nenhumaCompra>
    <ion-text color="medium">
      <p style="text-align: center; margin-top: 2rem;">Nenhuma compra registrada.</p>
    </ion-text>
  </ng-template>
</ion-content>
