<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="carregarCompras($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="compras.length > 0; else nenhumaCompra">
    <ion-card *ngFor="let compra of compras">
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <strong>Categoria:</strong>
            <ion-chip>
              {{ compra.categoria }}
            </ion-chip>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>
            <strong>Data:</strong>
            <ion-text color="medium">
              {{ compra.dataDaCompra | date: 'shortDate' }}
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>
            <strong>Valor:</strong>
            <ion-text [color]="compra.valor > 60 ? 'danger' : ''">
              R$ {{ compra.valor | number:'1.2-2' }}
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="compra.observacao" lines="none">
          <ion-label>
            <strong>Obs:</strong>
            <ion-text color="medium">
              {{ compra.observacao }}
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #nenhumaCompra>
    <div class="ion-text-center" style="margin-top: 2rem;">
      <ion-icon name="cart-outline" size="large" color="medium"></ion-icon>
      <ion-text color="medium">
        <h2>Nenhuma compra registrada</h2>
      </ion-text>
    </div>
  </ng-template>
</ion-content>
